@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@keyframes slow-bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}

.animate-slow-bounce {
    animation: slow-bounce 2.5s ease-in-out infinite;
}